<p>Go faster, go harder, and go bigger. Unlock new levels of confidence with the Rocky Mountain Altitude. The new standard for capability and confidence no matter where your bike takes you. The Altitude is purpose-built and race-proven, it's the optimal choice whether you're racing enduros or committing to weekend rides. With so much capability, let the Altitude help push limits, climb faster, and ride harder.</p>

<h4>What sets the Altitude apart?</h4>
<p><strong>Purpose built geometry</strong> - Designed to position the rider for optimal control.</p>

<p><strong>Any trail, any Altitude</strong> - Every trail is at the Altitudes level. Wherever your bike takes you, Rocky's Ride-9 system and 2-position rear axle allows you to adjust your geometry for the most optimal set up for the trail ahead.</p>
