<h1>Solo 50 is sick</h1>

<p>Highlights:</p>
<ul>
<li>Multi faceted gravel / adventure bike</li>
<li>Stable, fun handling</li>
<li>Up to 5 water bottle mounts, depending on size</li>
<li>Wide range 1x drivetrain for simplicity</li>
<li>Dropper post compatible</li>
</ul>
<p><br />Improvements over last year:</p>
<ul>
<li>WTB Riddler 37c tires for more traction on gravel</li>
</ul>
<p><br />Adventure</p>
