<p>Highlights:</p>
<ul>
<li>Multi faceted gravel / adventure bike</li>
<li>Stable, fun handling</li>
<li>Up to 5 water bottle mounts, depending on size</li>
<li>Wide range 1x drivetrain for simplicity</li>
<li>Dropper post compatible</li>
</ul>

<p>Improvements over last year:</p>
<ul>
<li>WTB Riddler 37c tires for more traction on gravel</li>
</ul>



<!--
<p>Adventure</p>

<h4>Specs</h4>
<table>
  <tbody>
  <tr>
    <th>Frame</th>
    <td>Rocky Mountain Butted 6061 SL Series Alloy. 1x Only. BB386 EVO. 12x142mm Axle. Flat Mount Disc. 700x40c &amp; 650bx2.2 Compatible. Dropper Post Compatible. Fender Mounts</td>
  </tr>
  <tr>
    <th>Fork</th>
    <td>Rocky Mountain Carbon Gravel. 15mm Axle. Cargo 3 Pack &amp; Fender Mounts</td>
  </tr>
  <tr>
    <th>Shock</th>
    <td>N/A</td>
  </tr>
  <tr>
    <th>Headset</th>
    <td>Rocky Mountain | Sealed 36°x45° Bearings | 30.2mm x 41mm x 7.1mm Upper | 40mm x 51.8mm x 7.5mm Lower | 1.5" Crown Race</td>
  </tr>
  <tr>
    <th>Stem</th>
    <td>Rocky Mountain 31.8 XC | 7° Rise | XS = 60mm |SM = 70mm | MD = 80mm | LG= 90mm |XL = 100mm</td>
  </tr>

<tr>
  <th>Handlebar</th>
  <td>Rocky Mountain Flare Drop</td>
</tr>
<tr>
  <th>Grips</th>
  <td>Rocky Mountain Gel Bar Tape</td>
</tr>
<tr>
  <th>Brakes</th>
  <td>TRP Spyre | Resin Pads | F: TRP 160mm | R: TRP 160mm</td>
</tr>
<tr>
  <th>Shifters</th>
  <td>Sram Apex</td>
</tr>
<tr>
  <th>Rear Derailleur</th>
  <td>Sram Apex 1</td>
</tr>
<tr>
  <th>Cranks &amp; Chainring</th>
  <td>Sram Apex | 40T |24mm Spindle | XS-SM = 170mm | MD = 172.5mm Crank Length | LG-XL =  175mm Crank Length</td>
</tr>
<tr>
  <th>Bottom Bracket</th>
  <td>Rocky Mountain BB386 24mm Axle</td>
</tr>
<tr>
  <th>Cassette</th>
  <td>Sram PG-1130 11-42T</td>
</tr>
<tr>
  <th>Chain</th>
  <td>KMC X11-1</td>
</tr>
<tr>
  <th>Front Hub</th>
  <td>Rocky Mountain 15mm</td>
</tr>
<tr>
  <th>Rear Hub</th>
  <td>Rocky Mountain 12x142mm</td>
</tr>
<tr>
  <th>Spokes</th>
  <td>2.0 Stainless</td>
</tr>
<tr>
  <th>Rims</th>
  <td>WTB ST i21 TCS Tubeless | 32H | Tubeless Ready - Tape | Valves Incl</td>
</tr>
<tr>
  <th>Tires</th>
  <td>F: Kenda Flitridge Pro DTC TR 700 x 40c | R:  Kenda Flitridge Pro DTC TR 700 x 40c</td>
</tr>
<tr>
  <th>Seatpost</th>
  <td>Rocky Mountain 30.9mm</td>
</tr>
<tr>
  <th>Saddle</th>
  <td>Rocky Mountain 148 Steel</td>
</tr>
<tr>
  <th>Weight</th>
  <td>This information isn't available yet. We will update the weight of this model as soon as possible.</td>
</tr>
<tr>
  <th>Notes</th>
  <td>We make every effort to ensure accuracy, but reserve the right to update specifications &amp; prices without notification.</td>
</tr>
</tbody>

</table>
-->
